#header, #page{
    background-color: white;
}

#logo {
    background: url(../images/logo.jpg) no-repeat left top;
    height: 90px;
    width: 286px;
    float: left;
}

#logo a {
    text-decoration: none;
    display: block;
    height: 90px;
}


#search{
    width: 580px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

#search_filter input{
    margin : 10px 2px 10px 15px;
}

#search_box{
    padding-left: 25px;
    background: url('../images/search.png') 5px 2px no-repeat;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#header .home a {
    min-width: 15px;
    width: 15px;
    padding-bottom: 7px;
}

#page {
    background: white url("../images/bg_debut_contenu.png") repeat-x top;
    background-position: left -20px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
}

/* Footer */
#clearer{
    clear:both;
}

#footer {
    background-color: whitesmoke;
    width: 1000px;
    text-align: center;
    clear: both;
    height: 65px;
    line-height: 65px;
    font-size: 13px;
    color: #6F6F6F;
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    margin: auto;
}

#mini_profil {
    float:left;
    width: 228px;
    height: 260px;
    margin: 5px;
    padding-right: 5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    padding: 5px;
}

#profil {
    clear:both;
    width: 228px;
    height: 330px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    padding: 20px;
}

.fixe, .email, .portable, .NumEtudiant {
    display: block;
    line-height: 32px;
    text-indent: 40px;
    text-align: left;
}

.nom{
    font-weight: bold;
    font-size: 13px;
}

.fixe{
    background: url('../images/profil/fixe.png') 5px 2px no-repeat;
}

.portable {
    background: url('../images/profil/mobile.gif') 5px 2px no-repeat;
}

.email{
    background: url('../images/profil/email.gif') 5px 2px no-repeat;
}

.NumEtudiant {
    background: url('../images/profil/id.gif') 5px 2px no-repeat;
}

.mini_photo{
    width: 140px;
    margin: auto;
    height: 150px;
}

.mini_photo img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;  
    text-align:center; 
    width:100px; 
}

.remove_profil{
    background: url('../images/profil/delete.gif') 5px 2px no-repeat;
    color: #999;
    font-weight: bold;
    text-decoration: none;
    float: right;
    width: 32px;
    height: 32px;
}

.result_infos {
    background: url('../images/result.png') 0px 8px no-repeat;
    width: 990px;
    height: 41px;
    margin: 0 auto;
    margin-top: 0px;
    color: #666;
    padding-top: 13px;
    padding-left: 0px;
}

#search_label{
    margin: 0px;
    text-indent: 20px;
    float: left;
}

#search_result{
    margin:0;
    font-size: 13px;
    margin-right: 10px;
    float: right;
}
/*******************************/
/* Common Layout CSS Document  */
/*******************************/

.hidden { display: none; }
.clear { clear: both; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.justify { text-align: justify; }
.strong { font-weight: bold; }
.underline { text-decoration: underline; }
.big { font-weight: bold; font-size: 1.2em; }
.small { font-size: 0.8em; }
.vmiddle { vertical-align: middle; }

/* messages de succes/erreur/info/avertissement ----------------------------- */

.success, .info, .error, .warning {
    min-height: 15px;
    line-height: 15px;
    padding: 10px 33px !important;
    text-align: left !important;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.success p, .info p, .error p, .warning  p {
    padding: 0 !important;
    margin: 0 0 1em 0 !important;
}
p.success, p.info, p.error, p.warning {
    background-color: transparent;
    border: none;
}
.success {
    background: #D4FFD4 url('../images/notification/accept.png') no-repeat 10px 10px;
    border: 1px solid #4DA24D;
    color: #348934;
}
.info {
    background: #DFF4FF url('../images/notification/information.png') no-repeat 10px 10px;
    border: 1px solid #4985B2;
    color: #005B9F;
}
.warning {
    background: #FFFFD4 url('../images/notification/error.png') no-repeat 10px 10px;
    border: 1px solid #D5AA00;
    color: #D5AA00;
}
.error {
    background: #FFD4D4 url('../images/notification/exclamation.png') no-repeat 10px 10px;
    border: 1px solid #D02626;
    color: #D02626;
}
.error ul {
    list-style-type: none;
}

#tnt_pagination {
    display:block;
    text-align:center;
    height:22px;
    line-height:21px;
    clear:both;
    padding-top:3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    width: 400px;
    margin:auto;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#0072bc;
    width:22px;
    font-weight:normal;
}

#tnt_pagination a:hover {
    background-color:#DDEEFF;
    border:1px solid #BBDDFF;
    color:#0072BC;	
}

#tnt_pagination .active_tnt_link {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #BBDDFF;
    margin-left:10px;
    text-decoration:none;
    background-color:#DDEEFF;
    color:#0072BC;
    cursor:default;
}

#tnt_pagination .disabled_tnt_pagination {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#D7D7D7;
    cursor:default;
}

.tnt_pagination_next{
    background: url('../images/next.png') no-repeat 10px 10px;
}


.tnt_pagination_prec{
    background: url('../images/precedent.png') no-repeat 10px 10px;
}